<p>I have random foods</p>
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-06/20/11/campaign_images/buzzfeed-prod-fastlane02/specialites-americaines-que-les-francais-ne-manger-2-6971-1466435440-7_dblbig.jpg">
